<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="card">
    <img src="https://imgs.search.brave.com/kXAcsJx-tNK54dHkAeWkyXzogN3Jj86up7v3csmwlIA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvaHItbG9nby1k/ZXNpZ25fODM5NTYy/LTQyLmpwZz9zaXpl/PTYyNiZleHQ9anBn" alt="">
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="age" name="age" placeholder="Age">
      <input type="email" name="email" placeholder="Email">
      <input id="su" type="submit">
    </form>
  </div>
  </body>
  </html>

