<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="card">
        <img src="https://imgs.search.brave.com/wz6Am6jI64j1K2QWl3U3R4Wgn8r89nOraa10VT5uHGM/rs:fit:860:0:0/g:ce/aHR0cDovL20uZ2V0/dHl3YWxscGFwZXJz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMS8wMS9Hb3Jp/bGxhLUJhY2tncm91/bmRzLmpwZw" alt="">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input id="su" type="submit">
        </form>  
      </div>
</body>
</html>